.art-container {
	position: relative;
	margin: 1em;
	width: fit-content;
	height: fit-content;
}

.album-art {
	background-image: var(--cover-art-url);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	border-radius: 24px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 16px 12px rgba(0, 0, 0, 0.2);
	width: 75vmin;
	height: 75vmin;
	max-width: 512px;
	max-height: 512px;
}

.playback-controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 24px;
	width: 100%;
	opacity: 1;
	transition: ease .5s opacity;
}

.playback-controls.hidden {
	opacity: 0;
}

.playback-controls > span {
	color: white;
	font-size: 1.5rem;
	backdrop-filter: blur(16px) brightness(60%) saturate(200%);
	background-color: transparent;
	padding: 0.5rem;
	margin: 0.5rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 2rem;
	transition: ease .5s background-color;
}

.playback-controls > span:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.playback-controls > span.active {
	color: black;
	background-color: rgba(255, 255, 255, 0.25);
}

.playback-controls > span.active:hover {
	color: black;
	background-color: rgba(255, 255, 255, 0.50);
}

.playback-controls > #playpause {
	font-size: 2rem;
}
