.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;

	background-image: var(--cover-art-url);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(64px) brightness(50%) saturate(150%);
	transition: ease 2s background-image;
}
