.info-container {
	position: relative;
	width: 50vw;
	min-width: 50rem;
	height: 75vh;
	max-height: 32rem;
	margin: 1em;
}

@media only screen and (orientation: portrait) {
	.media-container {
		height: 25vh;
	}
}