.metadata {
	color: white;
	width: 40vw;
	min-width: 800px;
	margin: 1em;
}

.metadata h1 {
	font-weight: 700;
	font-size: 4.5em;
	margin: 0.125em 0;
}

.metadata h2 {
	font-weight: 500;
	font-size: 3em;
	margin: 0.25em 0;
}

.metadata h3 {
	font-weight: 400;
	font-size: 2em;
	margin: 0.25em 0;
}

.metadata h4 {
	font-weight: 400;
	font-size: 1.5em;
}

.metadata h1, .metadata h2,
.metadata h3, .metadata h4 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.metadata .left {
	float: left;
	text-align: left;
}

.metadata .right {
	float: right;
	text-align: right;
}

@media only screen and (max-width: 1249px) {
	.metadata h1 {
		font-size: 3em;
	}

	.metadata h2 {
		font-size: 2.5em;
	}

	.metadata h3 {
		font-size: 2em;
	}

	.metadata h4 {
		font-size: 1.5em;
	}

	.metadata h1,
	.metadata h2,
	.metadata h3 {
		text-align: center;
	}
}