@import url("Variables.css");
@import url("Background.css");
@import url("AlbumArt.css");
@import url("Metadata.css");
@import url("Seekbar.css");
@import url("Lyrics.css");

.now-playing {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}


@media only screen and (orientation: portrait) {
	.now-playing {
		flex-direction: column;
	}
}