pkgbase = sunamu-git
	pkgdesc = Show your currently playing song in a stylish way! (Development version)
	pkgver = r54.86fb6f3be9
	pkgrel = 1
	url = https://github.com/AryToNeX/Sunamu
	arch = x86_64
	license = MPL-2.0
	makedepends = git
	makedepends = npm
	makedepends = node-gyp
	depends = electron
	conflicts = sunamu
	conflicts = sunamu-bin
	source = sunamu::git+https://github.com/AryToNeX/Sunamu
	source = sunamu.desktop
	source = sunamu.sh
	sha256sums = SKIP
	sha256sums = 61e7326922b6f1a58d894488df27264ed307e1c1e8a0bb3aea61f0fcaa9c2bd4
	sha256sums = 3ec100c03e6653aeed2400109501c3209295d58e74e4dbc71dadcfad86ef910c

pkgname = sunamu-git
