html {
	overflow: hidden;
	background-color: transparent;
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
}

a:-webkit-any-link {
	text-decoration: none !important;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,.5);
	border-radius: 2px;
}

html.resolution-vga {
	font-size: 4px;
}

html.resolution-xga {
	font-size: 8px;
}

html.resolution-fhd {
	font-size: 12px;
}

html.resolution-qhd {
	font-size: 16px;
}

html.resolution-4k {
	font-size: 24px;
}