html {
	overflow: hidden;
	background-color: transparent;
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
}

a:-webkit-any-link {
	text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6, span, p {
	font-family: "Urbanist";
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,.5);
	border-radius: 2px;
}

@media only screen and (max-height: 900px), (max-width: 900px){
	html {
		font-size: 75%;
	}
}

@media only screen and (max-height: 800px), (max-width: 800px){
	html {
		font-size: 50%;
	}
}