html {
	overflow: hidden;
	background-color: transparent;
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
}

a:-webkit-any-link {
	text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6, span, p {
	font-family: "Urbanist";
}