html {
	overflow: hidden;
	background-color: black;
	margin: 0;
	padding: 0;
	user-select: none;
	scrollbar-color: rgba(255,255,255,.5) transparent;
	scrollbar-width: 4px;
}

html.widget-mode {
	background-color: transparent;
}

body {
	margin: 0;
	padding: 0;
}

html.widget-mode body {
	transition: ease .2s filter;
}

html.widget-mode body.hidden {
	filter: blur(16px) opacity(0);
}

a:-webkit-any-link {
	text-decoration: none !important;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,.5);
	border-radius: 2px;
}

html.resolution-qvga {
	font-size: 4px;
}

html.resolution-vga {
	font-size: 6px;
}

html.resolution-xga {
	font-size: 8px;
}

html.resolution-fhd {
	font-size: 12px;
}

html.resolution-qhd {
	font-size: 16px;
}

html.resolution-4k {
	font-size: 24px;
}