pkgbase = sunamu-bin
	pkgdesc = Show your currently playing song in a stylish way! (Binary version)
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/AryToNeX/Sunamu
	arch = x86_64
	license = MPL-2.0
	depends = c-ares
	depends = ffmpeg
	depends = gtk3
	depends = http-parser
	depends = libevent
	depends = libvpx
	depends = libxslt
	depends = libxss
	depends = minizip
	depends = nss
	depends = re2
	depends = snappy
	depends = libnotify
	depends = libappindicator-gtk3
	conflicts = sunamu
	conflicts = sunamu-git
	noextract = sunamu-1.1.0.pacman
	options = !strip
	source = https://github.com/AryToNeX/Sunamu/releases/download/v1.1.0/sunamu-1.1.0.pacman
	md5sums = f0fa60bff63af1de33968e6dbe78b477

pkgname = sunamu-bin
