html.electron .background {
	-webkit-app-region: drag;
}

html.electron .window-controls {
	-webkit-app-region: no-drag;
}

html.electron .window-controls .minimize {
	display: inline-block;
}

html.electron .window-controls .close {
	display: inline-block;
}

html.electron .now-playing > * {
	-webkit-app-region: no-drag;
}

html.electron.widget-mode .background {
	-webkit-app-region: no-drag;
}

html.electron.widget-mode .album-art {
	-webkit-app-region: drag;
}

html.electron.widget-mode .playback-controls {
	-webkit-app-region: no-drag;
}

html.electron.widget-mode .metadata > *,
html.electron.widget-mode .lyrics > *,
html.electron.widget-mode .lyrics-footer {
	text-shadow: 0 2px 8px rgba(0, 0, 0, .75);
}

:root.electron {
	--cover-art-url: url("../../../images/no_song.png");
}